version: "2.0"
services:
  #PHP Service
  laravel:
    build:
      context: ./
      dockerfile: laravel.dockerfile
    image: laravel
    user: "1000:1000"
    container_name: laravel
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: laravel
      SERVICE_TAGS: dev
    working_dir: /var/www/html/
    volumes:
      - ./:/var/www/html/
      - ./php/laravel.ini:/usr/local/etc/php/conf.d/laravel.ini
    networks:
      - app-network

  vue:
    stdin_open: true
    container_name: vue
    restart: always
    build:
      context: ../vue
      dockerfile: vue.dockerfile
    volumes:
      - /app/node_modules
      - ../vue:/app:cached
    networks:
      - app-network
    environment:
      - CHOKIDAR_USEPOLLING=true
    expose:
      - "80"
    ports:
      - "8080:8080"
      - "8081:8081"

  #Nginx Service
  webserver:
    depends_on:
      - laravel
      - vue
    build:
      context: ./nginx
      dockerfile: nginx.dockerfile
    container_name: webserver
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
    networks:
      - app-network

  #Mysql DB
  mysql:
    command: --max_allowed_packet=32505856
    image: mysql:8.0
    container_name: db
    restart: unless-stopped
    tty: true
    ports:
        - "3306:3306"
    environment:
        MYSQL_DATABASE: ebef
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        SERVICE_TAGS: dev
        SERVICE_NAME: mysql
    volumes:
      - ../mysql:/mysql
    networks:
      - app-network

  #PHPADMIN DB
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "7000:80"
    links:
      - mysql:db
    environment:
      MYSQL_USER: root
      MYSQL_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge

volumes:
  mysql:
    driver: local
